body {
  margin: 0 auto;
  width: 100%;
  background-color: #2E3538;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* text */
h1, h2, h3, h4, h5, p, a {
  color: #F9F9F9;
  font-family: 'Fira Code', monospace;
}
a {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* transition */
.transition {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}
.longerTransition {
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
}

/* navbar */
.navbar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background-color: #4F5D63;
  padding: 25px;
  padding-left: 10px;
  padding-right: 20px;
  overflow-x: hidden;
  z-index: 100;
}
.navItems {
  float: right;
}
.hamburger {
  display: none;
  float: right;
}
.navbar a {
  color: #73CDF3;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #eaeff1;
}
.highlightedNav {
  color: #D9EAF1!important;
}
.highlightedNav:hover {
  color: #2EA2F8!important;
}
.navIcon {
  vertical-align: text-bottom;
  height: 28px;
  padding-right: 20px;
  padding-bottom: 4px;
  filter: brightness(130%);
}
/* end of navbar */

/* blocks */
.block {
  min-height: 700px;
  height: 100vh;
}

/* end of blocks */
/* other pages */
.pageIcons {
  height: 55vh;
}
.singleBody {
  padding-left: 15vw;
  padding-right: 13vw;
  padding-top: 28vh;
  padding-bottom: 18vh;
}
.singleBody > svg  {
  height: 46vh;
}
.singleBody h1 {
  font-size: 80px;
  color: #FF4141;
}
.singleBody p {
  font-size: 48px;
}
.singleBody a {
  color: #2EA2F8;
  font-size: 48px;
}
.singleBody a:hover {
  color: #73CDF3;
}
.singleBody .homeIcon {
  padding-right: 30px;
}
.singleBody .homeIcon svg {
  vertical-align: sub;
}
/* resume */
.resumeBody {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 18vh;
}
.resumeBody h1 {
  font-size: 48px;
}
.resumeBody p {
  font-size: 40px;
}
.annotationLayer {
  pointer-events: auto!important;
}
/* end of other pages */

/* footer */
.copyrightText {
  font-size: 24px;
  text-align: center;
}
footer a, footer p {
  color: #2EA2F8;
}
.breakLine {
  width: 70vw;
  margin-left: 15vw;
  border-top: 3px solid #2EA2F8;
}
.navFooterItems {
  padding: 25px;
  text-align: center;
}
.navFooterItems a {
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
}
.navFooterItems a:hover {
  color: #BACFD8;
}
.navFooterItems br {
  display: none;
}
/* end of footer */
/* when smaller screen */
@media only screen and (max-width: 1050px) {
  .navbar {
    background-color: #21282b;
  }
  .navbar a {
    font-size: 20px;
    padding: 8px;
  }
  .navItems {
    display: none;
  }
  .hamburger {
    display: auto;
  }
}
@media only screen and (max-width: 800px) {
  .navFooterItems a {
    font-size: 1em;
  }
  .navIcon {
    height: 24px;
  }
  .copyrightText {
    font-size: 1em;
  }
  .breakLine {
    width: 60vw;
    margin-left: 20vw;
    border-top: 2px solid #2EA2F8;
  }
}
@media only screen and (max-width: 530px) {
  #footerBreak {
    display: block;
  }
}
