body {
  margin: 0;
  background-color: #2E3538;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* text */
h1, h2, h3, h4, h5, p, a {
  color: #F9F9F9;
  font-family: 'Fira Code', monospace;
}
a {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* transition */
.transition {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

/* navbar */
.navbar {
  position: sticky;
  /* top: 0;
  width: 100vw; */
  background-color: #4F5D63;
  padding: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.navItems {
  float: right;
}
.navbar a {
  color: #73CDF3;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #3e86a5;
}
.highlightedNav {
  color: #D9EAF1!important;
}
.highlightedNav:hover {
  color: #2EA2F8!important;
}
.navIcon {
  vertical-align: text-bottom;
  height: 36px;
  padding-right: 20px;
  padding-bottom: 4px;
}
/* End of navbar */
